/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Merriweather+Sans&family=Poppins:wght@400;500;700&display=swap");

/* Universal */
* {
  margin: 0;
  padding: 0;
}
/* Common styles */
body {
  font-family: "Merriweather Sans", sans-serif;
  font-family: "Poppins", sans-serif;
}

/* Header Section */
.navigation-bar {
  background-color: rgba(0, 0, 0, 0.1);
  width: 100%;
  height: 15vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-left {
  margin-left: 70px;
}
.nav-title {
  font-size: 2em;
}
.nav-right {
  margin-right: 60px;
}
.nav-right a {
  text-decoration: none;
  color: black;
  margin-right: 25px;
  font-size: 1.2em;
}
.nav-right a:hover {
  color: white;
  background-color: #e02c6d;
}
/* Banner Section */
.banner-container {
  display: flex;
  width: 100%;
  height: 85vh;
  justify-content: center;
  align-items: center;
}
.banner-left {
  width: 50%;
  margin: 0 10% 5%;
}
.banner-right {
  width: 50%;
}
.banner-left h1 {
  font-size: 40px;
  color: #3a3a3a;
}
.banner-text {
  font-size: 1.2em;
  margin-bottom: 30px;
}
.explore-button {
  text-decoration: none;
  color: white;
  background-color: #e02c6d;
  border-radius: 25px;
  padding: 10px 15px;
}
.explore-button:hover {
  background-image: linear-gradient(to right, red, black);
}

/* logo section */
.logo-section {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  height: 100px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}
.logo-section img {
  height: 100px;
  width: 100px;
  margin-left: 30px;
}

/* Popular collection */
.popular-collection {
  margin: 5rem;
}
.center-title {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 5rem;
}
.card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 50px;
  place-items: center;
}
.card img {
  height: 256px;
  width: 300px;
}
.card {
  height: 476px;
  width: 330px;
  border: 1px solid rgba(0, 0, 0, 0.055);
  box-shadow: 30px 30px 20px rgba(0, 0, 0, 0.5);
  padding: 5%;
  border-radius: 8px;
  background-color: #fff;
}
.price {
  font-size: 1.5em;
}
.fa-star {
  font-size: 0.6em;
  color: goldenrod;
}
.empty {
  color: rgba(0, 0, 0, 0.459);
}
span {
  margin-left: 10px;
  font-size: 0.9em;
}
.review {
  line-height: 25px;
}
.see-more {
  text-decoration: none;
  color: #e02c6d;
  font-weight: 700;
  font-size: 1.5em;
  text-align: right;
}
/* popular collection ends here */

/* Footer */
/* .footer {
  height: 250px;
  width: 100%;
  background-color: royalblue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff; */
.footer {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  place-items: center;
  height: 250px;
  color: white;
  background-color: #0a0826;
}

.footer-title {
  font-size: 2rem;
  margin-top: 35px;
}
.footer p {
  line-height: 30px;
}
.footer-icon .fab {
  color: white;
  background-color: #808080;
  border: 1px solid black;
  border-radius: 25px;
  margin: 10px 20px;
  padding: 15px;
}
